@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #000033;
    color: white;
    background-image: url(images/planet.png);
    height:100%;
    width:100%;
    position:fixed;
}

* {
    font-family: 'Montserrat', sans-serif;
}


/*-----MOBILE DESING----*/
.topnav {
    overflow: hidden;
    background-color: #274f75;
    position: relative;
    width: 100%;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    float: right;
    margin-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

.topnav a.icon {
    float: left;
    margin-top: 5px;
}


.active {
    background-color: #4CAF50;
    color: white;
}


#logo {
    width: 80%;
    height: 36px;
    margin-top: 10px;
}


#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    text-align: center;
    color: red;
}

#ul li a {
    display: block;
    width: 100%;
    border: 1px solid #bebebe;
    color: black;
    background-color: #94C81D;
}


.register {
    width: 100%;
    height: 50px;
}

.register li {
    list-style-type: none;
}

.register a {
    color: lightblue;
    margin-top: 5px;
    float: left;
}


/* The navigation menu links */
.listBar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.listBar a:hover {
    color: #f1f1f1;
}

@media (min-width: 870px) {
}

@media (min-width: 1000px) {

    .topnav {
        width: 100%;
        height: 120px;
        opacity: 90%;
    }

    .topnav #myLinks {
        display: initial;
    }

    .topnav a.icon {
        display: none;
    }

    .topnav a {
        float: left;
        color: black;
        padding: 0 0;
        text-decoration: none;
        font-size: 18px;
        margin-left: 20px;
    }


    #ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        margin-top: -57px;
        margin-left: 350px;
    }


    #ul li a {
        display: inline-block;
        line-height: 30px;
        width: 150px;
        border: 2px solid #132739;
        border-style: dashed;
        border-radius: 5px;
        background-color: #274f75;
        padding: 5px;
        margin-left: 12px;
        left: 2px;
        color: white;
    }

    #ul li a:hover {
        color: #cccccc;
        background-color: #204160;
    }

    #ul li a:active {
        background-color: purple;
    }

    .logo {
        margin-top: 25px;
        margin-left: 10px;
        width: 180px;
        height: 70px;
    }


    .register {
        width: 100%;
        height: 50px;
        margin-left: 1000px !important;
        margin-top: -30px !important;
    }

    .register li {
        list-style-type: none;
    }

    .register a {
        color: lightblue;
        margin-top: -18px;
    }

    .register a:hover {
        color: #2a7189;
    }


    /*STYLE REGISTER/LOGIN & ERRORS*/
    .login-box {
        width: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .login-box h1 {
        float: left;
        text-align: center;
        font-size: 40px;
        border-bottom: 6px solid #4caf50;
        margin-bottom: 50px;
        padding: 13px 0;
        margin-top: 0;
    }

    .textbox {
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 15px 0;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 2px yellowgreen;
    }

    .textbox:hover {
        box-shadow: 1px 1px 3px 1px rgb(235, 143, 24);
    }

    .textbox i {
        width: 26px;
        float: left;
        text-align: center;
    }

    .textbox input {
        border: none;
        outline: none;
        background: none;
        color: white;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
    }

    .btn {
        width: 100%;
        background: none;
        border: 2px solid #4caf50;
        color: white;
        padding: 5px;
        font-size: 20px;
        cursor: pointer;
        margin: 12px 0;
        border-radius: 10px;
    }

    .btn:hover {
        background-color: #4caf50;
        transition: .7s;
    }

    .createacc {
        text-align: center;
    }

    .createacc a {
        color: white;
    }

    .logreg {
        text-align: center;
    }

    .logreg a {
        color: white;
    }

    .error {
        width: 100%;
        margin-top: -30px;
        margin-bottom: 10px;
        float: left;
    }

    .error p {
        color: red;
        text-align: center;
    }


    .alog {
        color: red;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        margin-left: -200px;
        padding: 10px;
    }

    .alog:hover {
        color: darkred;
        transition: 0.5s;
    }

    .boxdetails {
        color: white;
        text-align: right;
        background-color: black;
        padding: 10px;
    }

    .boxdetails a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 5px;

    }

    .boxdetails a:hover {
        color: gray;
        transition: 0.5s;

    }
    .searchsys{
        margin-top: -50px;
        margin-left: -250px;

    }
    .searchresult{
       float:right!important;
        margin-right: 200px!important;
        margin-top: -20px!important;
    }
    .searchresultfail{

    }
    label { display: inline-block; }
   .primul_label{
       position: relative;
       margin:0 auto;

    }
    .primul_label> * {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    .second_label{
        position: relative;
        margin-top: 20px;
    }
    .second_label> * {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    textarea {
        background-color: purple;
        color: navajowhite;
        width: 30%;
        height: 30%!important;
    }

    .listBar {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 15%; /* Set the width of the sidebar */
        position:absolute;/* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        right: 0;
        top:0;
        background-color: #111; /* Black */
        overflow: hidden; /* Disable horizontal scroll */
        text-align: center;

    }

    .listBar ul {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 100%; /* Set the width of the sidebar */
        position: absolute; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        right: 0;
        background-color: #111; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        text-align: center;

    }

    /* The navigation menu links */
    .listBar a {
        text-decoration: none;
        font-size: 85%;
        color: crimson;
        display: block;



    }
    div{
        height:100%;
        width: 100%;
        position:relative;


    }
    .formular{
        height:100%;
        width:100%;
    }

    /* When you mouse over the navigation links, change their color */
    .listBar a:hover {
        color: #f1f1f1;
    }
}